{% extends 'base.html.twig' %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1>creation d'un article</h1>
  <!--  <form action="" method="POST">
        <input type="text" name="title" placholder="titre de l'article">
        <textarea name="content" placeholder="content de l'article" cols="30" rows="10"></textarea>
        <input type="text" name="image" placeholder="image de l'article">
        <button type="submit"> Enregistrer</button>
    </form>
    -->
    {{form_start(formArticle)}}
   {{form_row(formArticle.title,{'attr' :{'placeholder': "titre de l'article"}})}}
      {{form_row(formArticle.category)}}

    {{form_row(formArticle.content,{'attr' :{'placeholder': "Contenu de l'article"}})}}
   {{form_row(formArticle.image,{'attr' :{'placeholder': "image URL de l'article"}})}}

    <button type="submit" class="btn btn-success">
    {% if editMode %}
    Enregistrer
    {% else %}
    Ajouter l'article
    {% endif %}
    </button>
    {{form_end(formArticle)}}
{% endblock %}